*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none ;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}
body{
  min-height: 100vh;
  background-color: #222;
  background-image: url('/FondoPokemon.jpg');
  color: #fff;

  padding-bottom: 4%;
}
:root{
  --Color-White: #fff;
}
/* - - - No Content Reset - - - */
.container { padding-inline: 8%;}

.list{
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  height: 80px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
}
.nav-item{
  padding-block: 2rem;
  padding-inline: 3rem;
  text-align: center;
  color: #fff;
  border-bottom: 2px solid  #fff;
}
