/* - - - CARD COMPONENT - - - */
.card {
    position: relative;
    display: block;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    transition: border-color var(--transition);
}

.card:hover {
    border-color: var(--secondary-bg);
}
.card-img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow)
}
.card-text {
    margin-block: var(--margin-normal);
    text-align: center;
    color: var(--secondary-bg);
}
.card-small {
    display: block;
    font-size: var(--font-small);
    color: var(--secondary-bg);
    margin-bottom: var(--margin-small);
}
.card-p {
    font-size: var(--font-medium);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-bg);
}

