/* - - - HEADER - - -*/
.box-pokedex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.titulo-pokedex{
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  padding-right: 79px;
}
.header-img{
  margin-left: 0
}
.box-search {
  width: 100%;
  height: auto;
  margin-bottom: var(--margin-large);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--details-bg);
  gap: var(--gap-small);
  position: relative;
}

input {
  width: 25%;
  padding: var(--padding-small);
  font-size: var(--font-normal);
  border: 2px solid  #444;
  border-radius: var(--border-radius);
  background-color: #222;
  color: var(--text-color);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
  
input:focus {
  outline: none;
  border-color: var(--button-color);
  background-color: #333;
}
.box-buttons{
  gap: var(--gap-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-small);
  flex-wrap: wrap;
}
button {
  padding: 0.8rem var(--padding-medium);
  font-size: var(--font-normal);
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
  
button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
  
button:active {
  transform: scale(1);
}
/* - - - ERROR MSG - - - */
.error-messages {
  margin-top: var(--margin-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: #cc4b4b;
  font-size: var(--font-normal);
  margin: 0.25rem 0;
  text-align: center;
}

/* - - - SECTION-ONE - - - */
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--padding-large);
}
.list{
  grid-template-columns: repeat(4,1fr);
  gap: 3rem var(--gap-normal);
  display: grid;
  padding: var(--padding-normal);
  background-color: #dcdcdc;
  border-radius: var(--border-radius);
  width: 550px;
}
/* - - - FOOTER - - - */
footer {
  width: 100%;
  gap: var(--gap-xlarge);
}
footer p{
  padding: var(--padding-small);
  font-size: var(--font-small);
  color: #4a4444;
}
/* - - - RESPONSIVE - - - */
@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
  
@media (max-width: 480px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  header img{
    padding-inline: 0%;
  }
  section{
    padding: 0rem;
  }
  button {
    font-size: 0.5rem;
  }
}
@media (prefers-color-scheme: dark) {
  .list{
    background-color: #424242;
  }
}
@media (prefers-color-scheme: light) {
  .list{
    background-color: #dcdcdc;
  }
}